p{
    margin: 24px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.login-box{
    height: 60vh;
    width: 25vw;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.login-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 48px;
    margin-bottom: 0px;
    width: 100%;
}
.bottom-line{
    background-color: grey;
    height: 1px;
    width: 70%;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 40px;
}
.form-control{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: red; */
}
.form-control-label{
    margin-right: 20px;
    font-size: 20px;
}
.login-button-section{
    margin-top: 70px;
}
::placeholder {
   font-size: 20px;
   color: #B2BABB;
   font-weight: 100;
   font-family: 'Jost', sans-serif;
   letter-spacing: 5px;
}

@media screen and (max-width: 600px) {
    .login-box{
        width: 90vw;
    }
}