.details-tile{
    display: flex;
}
.tile-item{
    margin-right: 10px;
}

.sub-section{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

a{
    font-size: 18px;
    color: #3498DB;
    cursor: pointer;
    text-decoration: none;
    margin: 7px 0;
    max-width: 30%;
}
a:hover{
    color: #21618C;
}